<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">CNI <sup></sup></div>
    </div>
  </form>
 

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <!-- Nav Item - Alerts -->
    <li class="nav-item mx-1" >
      <a class="nav-link" href="#" id="alertsDropdown" role="button" [routerLink]="['/employe']">
        <i class="fas fa-user-plus" ></i>
        <!-- Counter - Alerts -->
        Employe
      </a>
      
     
    </li>
    <li class="nav-item mx-1" >
      <a class="nav-link" href="#" id="alertsDropdown" role="button" [routerLink]="['/superviseur']">
        <i class="fas fa-user-plus" ></i>
        <!-- Counter - Alerts -->
        Superviseur
      </a>
     
    </li>
    <li class="nav-item mx-1" >
      <a class="nav-link" href="#" id="alertsDropdown" role="button" [routerLink]="['/historique']">
        <i class="far fa-eye"></i>
        <!-- Counter - Alerts -->
        Controle
      </a>
      
     
    </li>
 
    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        <!-- Counter - Messages -->
        Logout
      </a>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/profil']">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Profil</span>
        <img class="img-profile rounded-circle" src="assets/images/profil.jpg">
      </a>
      <!-- Dropdown - User Information -->
      
    </li>

  </ul>

</nav>
