
<html>
  <head></head>
  <body>
    <app-navabaremp></app-navabaremp>
    <h2 class="heading">liste des formation</h2>
    <button class="btn" [routerLink]="['/ajouterformation']">Ajouter</button>
    
   
<div class="parent">
  <table>
    
    <tr class="gh">
      <th>ID</th>
      <th>theme</th>
      <th>datedeb</th>
      <th>niveau</th>

      <th>#</th>
    </tr>
    <tr *ngFor="let person of peopleList">
      <td>{{person.id}}</td>
      <td>{{person.theme}}</td>
      <td>{{person.datedeb}}</td>
      <td>{{person.niveau}}</td>
      
      <td>
        <div class="row md-2">
          <button (click)="delete(person)"><i class="fa fa-trash"></i></button>
          <button [routerLink]="['/modifier-formation',person.id]"><i class="fas fa-wrench"></i>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
    

  </body>
</html>